@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #09090b;
  color: #f4f4f5;
  -webkit-font-smoothing: antialiased;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}
