# Configurações do Banco de Dados MySQL
MYSQL_ROOT_PASSWORD=sua_senha_secreta
MYSQL_DATABASE=ftvgonzaga

# Configurações do Administrador do Sistema (Criado no primeiro boot)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=sua_senha_do_admin

# Segredo de Assinatura do JWT (Gere uma chave complexa em produção)
JWT_SECRET_KEY=sua_chave_jwt_secreta

# Roteamento e Endereço da API para o Frontend (Navegador)
# Substitua 'localhost' pelo IP do servidor local se for acessar de fora
VITE_API_URL=http://localhost:5000

# Portas dos Serviços expostas no Servidor Host
PORT_FRONTEND=80
PORT_API=5000
PORT_DB=3306
PORT_WHATSAPP=3001
